.home_page {
  background-color: #1e1e1e;
}
.banner_section {
  width: 100%;
  height: 100%;
  padding-top: 15px;
}
.banner_heading {
  color: #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  width: 685px;
}
.banner_content {
  color: #8f8f8f;
  font-family: Atami;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 690px;
}
.frog_img img {
  width: 100%;
  height: 100%;
}
.content {
  margin-top: 50px;
}
.section_digital {
  margin-top: 100px;
}
.head_second {
  color: #fff;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
}

.para_second {
  color: #8f8f8f;
  font-family: Atami;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.tokenomics_section {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.token_card .card-body {
  padding: 35px;
}

.token_card {
  border-radius: 30px;
  min-height: 300px;
  height: auto;
}
.token_card .discount {
  background: #161b1e;
  width: 100px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  position: relative;
  left: -35px;
}
.token_card .discount p {
  text-align: center;
  margin: 0;
  font-family: Chewy;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}
.token_card .card_head {
  color: #84a98c;
  font-family: Chewy;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.token_card .card_content {
  margin: 15px 0;
  color: #8f8f8f;
  font-family: Atami;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.section_airdrop {
  background-image: url("common/assets/images/backs.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -25px;
  width: 100%;
  height: 1050px;
}
.section_airdrop .airdrop_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.section_airdrop .airdrop_head {
  color: #fff;
  font-family: Chewy;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
}
.section_airdrop .airdrop_content {
  color: #fff;
  font-family: Atami;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  width: 850px;
  margin: 20px 0;
}
.airdrop_card {
  border-radius: 30px;
  background: #84a98c;
  padding: 50px 40px !important;
  margin: 50px auto !important;
  width: auto !important;
}
.airdrop_discount {
  text-align: center;
  font-family: Chewy;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  padding: 0 15px;
}
.airdrop_card_title {
  font-family: Chewy;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  padding: 0 15px;
}
.airdrop_card_content {
  font-family: Atami;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 0 15px;
  width: 300px;
}

.section_roadmap {
  background-image: url("common/assets/images/roadmap_bg.png");
  background-size: cover;
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
}
.roadmap_head {
  color: #fff;
  display: block;
  font-family: Chewy;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
}
.roadmap_content {
  display: block;
  width: 663px;
  color: #cad2c5;
  font-family: Chewy;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.section_conclusion {
  text-align: center;
  padding: 70px;
}
.tokenomics_heading,
.conclusion_head {
  color: #fff;
  font-family: Chewy;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
}
.tokenomics_content,
.conclusion_content {
  width: 1292px;
  margin: auto;
  color: #8f8f8f;
  text-align: center;
  font-family: Atami;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  display: grid;
  place-content: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin: 50px 7px 0 7px;
  font-size: 25px;
  background-color: #2f3e46;
}
@media screen and (max-width: 1399px) {
  .banner_heading {
    font-size: 65px;
  }
  .banner_content {
    font-size: 18px;
    width: 550px;
  }
  .head_second {
    font-size: 45px;
  }
  .para_second {
    font-size: 20px;
  }
  .tokenomics_heading,
  .conclusion_head {
    font-size: 45px;
  }
  .tokenomics_content,
  .conclusion_content {
    width: 1000px;
    font-size: 20px;
  }
  .section_airdrop .airdrop_head {
    font-size: 50px;
  }
  .section_airdrop .airdrop_content {
    font-size: 21px;
  }
  .section_airdrop {
    height: 100%;
  }
  .icon {
    width: 60px;
    height: 60px;
    margin: 45px 7px 0 7px;
    font-size: 22px;
  }
}

@media screen and (max-width: 1199px) {
  .banner_heading {
    font-size: 50px;
    width: 450px;
  }
  .banner_content {
    font-size: 16px;
    width: 450px;
  }

  .head_second {
    font-size: 40px;
  }
  .para_second {
    font-size: 18px;
  }
  .tokenomics_heading,
  .conclusion_head {
    font-size: 40px;
  }
  .tokenomics_content,
  .conclusion_content {
    width: 850px;
    font-size: 20px;
  }
  .section_airdrop .airdrop_head {
    font-size: 45px;
  }
  .section_airdrop .airdrop_content {
    font-size: 20px;
    width: 750px;
  }
  .icon {
    width: 50px;
    height: 50px;
    margin: 40px 7px 0 7px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .banner_heading {
    font-size: 40px;
    width: 390px;
  }
  .banner_content {
    font-size: 14px;
    width: 351px;
  }
  .head_second {
    font-size: 35px;
  }
  .para_second {
    font-size: 16px;
  }
  .section_airdrop .airdrop_body {
    display: block;
    text-align: center;
  }
  .section_conclusion {
    padding: 50px;
  }
  .section_airdrop .airdrop_head {
    font-size: 40px;
  }
  .section_airdrop .airdrop_content {
    font-size: 18px;
    width: 100%;
  }
  .tokenomics_heading,
  .conclusion_head {
    font-size: 35px;
  }
  .tokenomics_content,
  .conclusion_content {
    width: 650px;
    font-size: 16px;
  }
}

@media screen and (max-width: 760px) {
  .banner_heading {
    margin-top: 15px;
    font-size: 40px;
    width: 100%;
  }
  .banner_content {
    font-size: 14px;
    width: 100%;
  }
  .section_digital {
    margin-top: 50px;
  }
  .head_second {
    margin-top: 15px;
    font-size: 35px;
  }
  .para_second {
    font-size: 16px;
  }
  .section_conclusion {
    padding: 35px;
  }
  .tokenomics_heading,
  .conclusion_head {
    font-size: 35px;
  }
  .tokenomics_content,
  .conclusion_content {
    width: 100%;
  }
  .icon {
    width: 50px;
    height: 50px;
    margin: 30px 7px 0 7px;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .banner_heading {
    font-size: 30px;
    width: 100%;
  }
  .banner_content {
    font-size: 14px;
    width: 100%;
  }
  .section_digital {
    margin-top: 30px;
  }
  .section_conclusion {
    padding: 25px;
  }
  .head_second {
    font-size: 30px;
  }
  .para_second {
    font-size: 14px;
  }
  .icon {
    width: 50px;
    height: 50px;
    margin: 20px 7px 0 7px;
    font-size: 20px;
  }
}
