/* header css */
nav {
  background-color: #2f3e46;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}
.navbar {
  width: 100%;
}

.logo img {
  width: 180px;
}

.navbar ul {
  all: initial;
}

.navbar {
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  z-index: 99;
}
.navbar .menu {
  display: flex;
  height: 100%;
  line-height: 100px;
}
.navbar .menu li {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  line-height: 80px;
}
.navbar .menu li a {
  color: #52796f;
  text-decoration: none;
  white-space: nowrap;
  height: 100%;
  text-transform: capitalize;
  font-family: 'Atami';
  transition: 0.3s;
}
.navbar .menu li a:hover {
  color: #52796f;
  text-decoration: none;
  white-space: nowrap;
  height: 100%;
  text-transform: capitalize;
  font-family: 'Atami';
  transition: 0.3s;
}
.navbar .navOpen,
.navbar .navClose {
  display: none;
}
.navbar::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #cad2c5;
  width: 100%;
  bottom: 0;
}

.footer {
  background-color: #84a98c;
  padding: 10px 0;
}
.footer .copyright {
  color: #161b1e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Atami';
}
.footer_resp {
  justify-content: space-between;
}
.nav-active {
  color: #fff !important;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Atami;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 1px 1px 0 BLACK;
}

@media screen and (max-width: 1199px) {
  .logo img {
    width: 140px;
}
  .navbar .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #161b1e;
    height: 100vh;
    min-width: 320px;
    top: 0;
    right: -100%;
    line-height: normal;
    transition: all 0.5s ease;
}
  .navbar .navClose svg path {
    fill: #84a98c;
}
  .navbar .menu li {
    display: block;
    height: auto;
    line-height: 45px;
    border-bottom: 1px solid rgb(47 62 70);
    padding: 0 24px;
  }
  .navbar .menu .navOpen {
    margin-right: 5%;
  }
  .navbar .navOpen,
  .navbar .navClose {
    color: white;
    font-size: x-large;
    display: block;
  }
  .navbar .navClose {
    margin: 20px;
}
  .navbar .menu .sub-menu {
    width: 100%;
    right: 100%;
    top: 0;
    box-shadow: none;
    border-radius: 3px 0 0 3px;
  }
  .navbar::after {
    display: none;
  }

}

@media screen and (max-width: 500px) {
  .footer_resp {
    justify-content: center !important;
  }
  .footer_resp img {
    margin-bottom: 20px;
  }
}
